extends layout
block content  
  .row
    .col-xs-8
      .bs-callout.bs-callout-primary 
        h4 #{noticia.titulo}
        p #{noticia.cuerpo}
        p.small.text-right #{noticia.lugar}
    .col-xs-4
      //-include include/form-new-noticia
    